build/index.html
<!DOCTYPE html>
<html lang="ru">

    <head>
        <title>Space Case</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="img/demo.jpg">
        <meta property="og:title" content="Demo jade example">
        <meta property="og:description" content="Demo jade example">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="description" content="">
        <meta itemprop="name" content="">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <link href="http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300&amp;subset=latin,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>
    <body>
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-xs-sm-12 col-md-4 col-lg-4 left-block text-white">
                        <h3>Space Case</h3>
                        <p>Именные чехлы с бесплатной
                            <br>доставкой по России и Украине</p>
                    </div>
                    <div class="col-xs-12 col-xs-sm-12 col-md-4 col-lg-4 center-block text-white text-center">
                        <p>990 рублей
                            <br> - или -
                            <br> 249 гривен</p>
                    </div>
                    <div class="col-xs-12 col-xs-sm-12 col-md-4 col-lg-4 right-block text-white text-center">
                        <p>Доставим бесплатно почтой
                            <br> России (5-14 дней)
                            <br> или Новой Почтой (1-2 дня)</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-xs-sm-12 col-md-6 col-lg-6">
                        <form class="main-form">
                            <select class="customerModelSelect">
                                <option>Выберите модель телефона</option>
                                <option class="check-span" value="iPhone 4/4S">iPhone 4/4S</option>
                                <option class="check-span" value="iPhone 5/5S">iPhone 5/5S</option>
                                <option class="check-span" value="iPhone 6">iPhone 6</option>
                                <option class="check-span" value="Samsung Galaxy S4">Samsung Galaxy S4</option>
                                <option class="check-span" value="Samsung Galaxy S5">Samsung Galaxy S5</option>
                            </select>
                            <div class="select-color clearfix">
                                <div class="decktop-float">
                                    <span>Цвет фона:</span>
                                    <div class="caseColors">
                                        <div data-value="black" class="caseColor black selected"></div>
                                        <div data-value="pink" class="caseColor pink"></div>
                                        <div data-value="red" class="caseColor red"></div>
                                        <div data-value="white" class="caseColor white"></div>
                                        <div data-value="green" class="caseColor green"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="magin-block">
                                <input type="text" placeholder="Надпись на чехле, например, DIANA" class="db style-input caseTextInput">
                                <button type="button" data-target="#modal-checkout" data-toggle="modal" class="db submit-button">Заказать чехол!</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-xs-sm-12 col-md-6 col-lg-6">
                        <div class="caseWrapper">
                            <img src="img/top_black.png" alt="case" class="case">
                            <div class="caseTextContainer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="http://vk.com/epicherman" target="_blank" class="dib pull-right report-span cur">Mенеджер VK</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-wrap">
            <div class="slider">
                <div class="slide">
                    <img src="img/1.jpg">
                </div>
                <div class="slide">
                    <img src="img/2.jpg">
                </div>
                <div class="slide">
                    <img src="img/3.jpg">
                </div>
                <div class="slide">
                    <img src="img/4.jpg">
                </div>
                <div class="slide">
                    <img src="img/5.jpg">
                </div>
                <div class="slide">
                    <img src="img/6.jpg">
                </div>
                <div class="slide">
                    <img src="img/7.jpg">
                </div>
                <div class="slide">
                    <img src="img/8.jpg">
                </div>
                <div class="slide">
                    <img src="img/9.jpg">
                </div>
                <div class="slide">
                    <img src="img/10.jpg">
                </div>
                <div class="slide">
                    <img src="img/11.jpg">
                </div>
                <div class="slide">
                    <img src="img/12.jpg">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-xs-sm-12 col-md-6 left-block text-white">
                        <h3>Оплата</h3>
                        <p>
                            Мы отправляем заказ по предоплате переводом на карту Сбербанка, ПриватБанка, кошелёк Киви или Яндекс.Деньги. Благодаря предоплате доставка бесплатна, так как вам не нужно оплачивать никаких дополнительных комиссий.
                            Стоимость печати на чехлах фиксирована и не меняется: 990 рублей для России и 249 гривен для Украины.
                        </p>
                    </div>
                    <div class="col-xs-12 col-xs-sm-12 col-md-6 right-block text-white">
                        <h3>Доставка</h3>
                        <p>Доставляем всегда бесплатно почтой России или Новой Почтой в Украине.
                            <br>Срок: 5-14 дней для России и 1-2 дня в Украине. Никаких доплат!
                            <br>В случае брака по нашей вине или вине перевозчика возвращаем сумму в полном объёме или перепечатываем заказ.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <span data-target="#modal-question" data-toggle="modal" class="question cur">Вопросы и ответы</span>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-right adress">ИП Юрин Г. О., ИНН 231009815565, ОГРНИП 314231103700053
                            <br> Россия, г. Краснодар, ул. Зиповская, д. 5/2, оф. 5, (861) 274-37-24.</p>
                        <span data-target="#modal-rules" data-toggle="modal" class="db text-right rules cur">Конфиденциальность ваших данных</span>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-question" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="mt0">Вопросы и ответы</h3>
                        <h4>Что произойдёт после оформления заказа?</h4>
                        <p>С вами свяжется менеджер для подверждения заказа. После этого мы делаем макет чехла с вашей надписью и отправляем вам на утверждение на почту или VK.</p>
                        <p>Если всё ОК, вы оплачиваете заказ, а мы запускаем его в печать.
                            <br> По готовности вы получите трек-номер для отслеживания посылки.</p>
                        <h4>Вы даёте какие-то гарантии?</h4>
                        <p>Да. Во-первых, стоимость услуги ровно та, что указана на сайте и не изменится. Во-вторых, доставка почтой РФ или Новой Почтой действительно бесплатна. В-третьих, в случае повреждения товара по нашей вине или вине перевозчика
                            мы возвращаем деньги в полном объёме либо перепечатываем заказ.</p>
                        <h4>Кто вы вообще такие?</h4>
                        <p>Современная типография в Краснодаре, работающая с начала 2014 года.</p>
                        <p>За это время мы обслужили более 1000 клиентов по самым разным направлениям печати и продолжаем развиваться месяц от месяца. Ваш чехол в надёжных руках. :)</p>
                        <p>Есть другие вопросы?</p>
                        <p>Пишите менеджеру VK:
                            <a href="http://vk.com/epicherman" target="_blank">vk.com/epicherman</a>Ответим!</p>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-rules" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Мы заботимся в ваших личных данных, соблюдая полную конфиденциальность при заполнении, передачих и хранении сведений.
                            <br>
                            <br>Размещение заявки на сайте означает Ваше согласие на обработку данных.
                            <br>
                            <br>Под персональными данными подразумевается информация, относящаяся к субъекту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное,
                            имущественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года No 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.
                            <br>
                            <br>Целью обработки персональных данных является оказание сайтом услуг.
                            <br>
                            <br>В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде на наш электронный адрес.</p>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-checkout" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="mt0">Оформление заказа</h3>
                        <form>
                            <input type="text" class="customerName" placeholder="Имя">
                            <input type="text" class="customerPhone" placeholder="Телефон (для связи и подтверждения заказа)">
                            <input type="text" class="customerEmail" placeholder="Эл. почта или страница VK (сюда мы отправим макет)">
                            <textarea class="customerComment" placeholder="Комментарий"></textarea>
                            <div class="clearfix">
                                <button type="button" class="sendEmailBtn" data-dismiss="modal" data-toggle="modal">Отправить заказ!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-error" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="mt0">Не все поля заполнены</h3>
                        <div class="errorsDescriptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div tabindex="-1" role="dialog" aria-hidden="true" id="modal-success" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content no-box-shadow">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <h3 class="mt0">Это успех!</h3>
                        <p class="fz16">С Вами свяжутся, чтобы подтвердить заказ.</p>
                        <p class="fz16">Заказы обрабатываются</p>
                        <p class="fz16">в будние дни с 10:00 до 20:00.</p>
                        <div class="clearfix">
                            <span data-dismiss="modal" class="cur pull-right ok-button">Ок!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.2,underscorejs@1.8.3"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/jquery.selectbox.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter30959031 = new Ya.Metrika({id:30959031,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/30959031" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <script type='text/javascript'>
        (function(){ var widget_id = 'Nt86PXbGGH';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
        </script>
    </body>

</html>

jade/index.jade
extends _layout

block content
  .header
    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.left-block.text-white
          h3 Space Case
          p Чехлы с бесплатной доставкой <br> по России и Украине
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.center-block.text-white.text-center
          p 890 рублей <br> - или - <br> 350 гривен
        .col-xs-12.col-xs-sm-12.col-md-4.col-lg-4.right-block.text-white.text-center
          p Доставим бесплатно почтой <br> России (5-14 дней) <br> или Новой Почтой (1-2 дня)

    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-6.col-lg-6
          form.main-form
            select
              option
              option.check-span iPhone 4/-6
              option.check-span iPhone 5/5S
              option.check-span iPhone 6
              option.check-span Samsung Galaxy S4
              option.check-span Samsung Galaxy S5
            .select-color
              span Цвет фона:
              .caseColor.black.selected(data-value="black")
              .caseColor.pink(data-value="pink")
              .caseColor.red(data-value="red")
              .caseColor.white(data-value="white")
              .caseColor.green(data-value="green")
            .magin-block
              input(type='text' placeholder="надпись на чехле, например, DIANA").db.style-input.caseTextInput
              button(type="button" data-target="#modal-checkout" data-toggle="modal").db.submit-button Заказать чехол
        .col-xs-12.col-xs-sm-12.col-md-6.col-lg-6
          .caseWrapper
              img(src="img/top_black.png" height="238" width="490" alt="case" class="case")
              .caseTextContainer
      .row
        .col-xs-12
          a(href="http://vk.com/epicherman").dib.pull-right.report-span.cur Написать менеджеру VK

  .slider-wrap
    .slider
      -for(var i = 0; i < 16 ; i++)
        .slide: img(src="img/#{i + 1}.jpg")

  .footer
    .container-fluid
      .row
        .col-xs-12.col-xs-sm-12.col-md-6.left-block.text-white
          h3 Оплата
          p Мы отправляем заказ по предоплате переводом на карту Сбербанка, кошелёк Киви или Яндекс.Деньги.<br>Стоимость печати на чехлах фиксированна и не меняется:<br>890 рублей для России и 350 гривен для Украины.
        .col-xs-12.col-xs-sm-12.col-md-6.right-block.text-white
          h3 Доставка
          p Доставляем всегда бесплатно почтой России или Новой Почтой в Украине.<br>Срок: 5-14 дней для России и 1-2 дня в Украине. Никаких доплат!<br>В случае брака по нашей вине или вине перевозчика вовзращаем сумму в полном объёме или перепечатываем заказ.
    .container-fluid
      .row
        .col-xs-6
          span.question.cur(data-target="#modal-question" data-toggle="modal") Вопросы и ответы
        .col-xs-6
          p.text-right.adress ИП Юрин Г. О., ИНН 231009815565, ОГРНИП 314231103700053 <br> Россия, г. Краснодар, ул. Зиповская, д. 5/2, оф. 5, (861) 274-37-24.
          span.db.text-right.rules.cur(data-target="#modal-rules" data-toggle="modal") Конфедициальность ваших данных

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-question
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Вопросы и ответы
          h4 Что произойдёт после оформления заказа?
          p С вами свяжется менеджер для подверждения заказа. После этого мы делаем макет чехла с вашей надписью и отправляем вам на утверждение на почту или VK.
          p Если всё ОК, вы оплачиваете заказ, а мы запускаем его в печать. <br> По готовности вы получите трек-номер для отслеживания посылки.
          h4 Вы даете какие-то гарантии?
          p Да. Во-первых, стоимость услуги ровно та, что указана на сайте и не изменится. Во-вторых, доставка почтой РФ или Новой Почтой действительно бесплатна. В-третьих, в случае повреждения товара по нашей вине или вине перевозчика мы воз- вращаем деньги в полном объёме либо перепечатываем заказ.
          h4 Кто вы вообще такие?
          p Современная типография в Краснодаре, работающая с начала 2014 года.
          p За это время мы обслужили более 1000 клиентов по самым разным направлениям печати и продолжаем развиваться месяц от месяца. Ваш чехол в надёжных руках. :)
          h4 Есть другие вопросы?
          p Пишите менеджеру VK:
            a(href="http://vk.com/epicherman") vk.com/epicherman
            |Ответим!

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-rules
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          p Мы заботимся в ваших личных данных, соблюдая полную конфиденциальность при заполнении, передачих и хранении сведений.<br><br>Размещение заявки на сайте означает Ваше согласие на обработку данных.<br><br>Под персональными данными подразумевается информация, относящаяся к субъ- екту персональных данных, в частности фамилия, имя и отчество, дата рождения, адрес, контактные реквизиты (телефон, адрес электронной почты), семейное, иму- щественное положение и иные данные, относимые Федеральным законом от 27 июля 2006 года No 152-ФЗ «О персональных данных» (далее – «Закон») к категории персональных данных.<br><br>Целью обработки персональных данных является оказание сайтом услуг.<br><br>В случае отзыва согласия на обработку своих персональных данных мы обязуемся удалить Ваши персональные данные в срок не позднее 3 рабочих дней. Отзыв согласия можно отправить в электронном виде на наш электронный адрес.

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-checkout
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Оформление заказа
          form
            input(type="text" placeholder="Имя")
            input(type="text" placeholder="Телефон (для связи и подтверждения заказа)")
            input(type="text" placeholder="Эл. почта или страница VK (сюда мы отправим макет)")
            textarea(placeholder="Комментарии к заказу")
            .clearfix
              button(type="button" data-dismiss="modal" data-target='#modal-success' data-toggle="modal") Отправить заказ!

  .modal.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-success
    .modal-dialog.modal-sm
      .modal-content.no-box-shadow
        .modal-header
          button(type="button" data-dismiss="modal" aria-label="Close").close
            span(aria-hidden="true") &times;
        .modal-body
          h3.mt0 Это успех!
          p С Вами свяжутся, чтобы подтвердить заказ.
          .clearfix
            span(data-dismiss="modal").cur.pull-right Ок!
